/* Add application styles & imports to this file! */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.mat-mdc-form-field {
  width: 100%;
}

.error-message {
  color: #f44336;
  margin: 10px 0;
}