<form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
    <mat-card>
      <mat-card-title>Sign In</mat-card-title>
      <mat-form-field class="full-width">
        <input matInput formControlName="username" placeholder="Username" />
      </mat-form-field>
  
      <mat-form-field class="full-width">
        <input matInput type="password" formControlName="password" placeholder="Password" />
      </mat-form-field>
  
      <div *ngIf="error" class="error">{{ error }}</div>
  
      <button mat-raised-button color="primary" type="submit">Sign In</button>
    </mat-card>
  </form>